/* body{
  background:rgb(224, 161, 12)
} */
.buttons{
    display: flex;
    
    justify-content: center;
    align-items: center;
}
.chat-container {
    position: fixed; 
    right: 75px;
    width: 300px;
  }
.imagescc{
    display: flex;
}
/* Your existing CSS code (buttons, chat-container, etc.) */
.chat-widget {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    z-index: 999;
    /* display: none; Initially hide the chat widget */
  }
  
  .chat-icon {
    font-weight: bold;
  }
  
  .chat-widget:hover {
    background-color: #0056b3;
  }
  
button{
    background-color: rgb(76, 102, 76); 
    height: 41px; 
    width: 100px ; 
    color: rgb(224, 161, 12); 
    border: 4cap; 
    border-color: rgb(238, 227, 212);
    margin: 0 20px;
}