/* styles2.css */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
  background-color: white;
}

.app {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 100vh;
  /* background-color: lightblue; */
}
.app1 {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 100vh;
  /* background-color: lightblue; */
}
.app2 {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 100vh;
  /* background-color: lightblue; */
}


.hello-animation {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex: 1;
}
.talking-animation {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex: 1;
}
.nodding-animation{
 
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex: 1;
  
}

.chat-room {
  border: 1px white;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-y:scroll;
  transition: overflow-y 0.3s ease;
  /* justify-content: flex-end; /* Ensure the content aligns to the bottom */
  /* align-items: flex-end; */ 
}

@media screen and (max-width: 600px) {
  .chat-room {
    width: 100%;
    height: 100vh;
  }
}

@media screen and (min-width: 601px) {
  .chat-room {
    width: 830px;
    height: 500px;
  }
}

.messages {
  flex: 1;
  padding: 10px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 600px) {
  .messages {
    width: 30%;
    display: flex;
    flex-direction: flex-end;
    flex-direction: column;
  }
}


.chat-overlay {
  position: fixed;
  top: 2%;
  bottom: 1%;
  left: 36%;
  width: 970px;
  height: 700px;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent dark background */
  z-index: 99; /* Ensure the overlay is above the chatroom */
}

.user,
.bot {
  max-width: 70%; /* Limit chat bubble width */
  margin-bottom: 8px;
}

.user {
  align-self: flex-end;
}

.bot {
  align-self: flex-start;
}
.show-scrollbar {
  overflow-y: scroll;
}

.chat-room::-webkit-scrollbar {
  width: 8px;
}

.chat-room::-webkit-scrollbar-thumb {
  background-color: blue;
  border-radius: 4px;
}

.chat-room::-webkit-scrollbar-thumb:hover {
  background-color:blue;
}

/*.chat-bubble {
  padding: 8px;
  display: inline-block;
  margin-top: 5px;
  margin-bottom: 5px;
  overflow-wrap: anywhere;
}*/
/*.chat-bubble {
  background-position: center;
  background-repeat: no-repeat !important;
  background-size: 100% 100%;
  margin: 0 auto;
  text-align: center;
  height: 0;
  box-sizing: content-box;
  line-height: 1;
}
.speech {
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/speech-bubble.svg);
  width: 25%;
  padding-top: 6%;
  padding-bottom: 20%;
  overflow-wrap: anywhere;
}*/

.messages {
  flex: 1;
  padding: 10px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  color: white;
}
.chat-bubble {
  display: flex;
  background-color: lightsalmon;
  padding: 20px;
  border-radius: 30px;
  min-width: 40px;
  max-width: 220px;
  min-height: 40px;
  margin: 20px;
  position: relative;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow-wrap: anywhere;
}
.chat-bubble:before,
.chat-bubble:after {
  content: "";
  background-color: lightsalmon;
  border-radius: 50%;
  display: block;
  position: absolute;
  z-index: -1;
  overflow-wrap: anywhere;
}
.user .chat-bubble:before {
  width: 44px;
  height: 44px;
  top: -12px;
  left: 28px;
  box-shadow: -50px 30px 0 -12px lightsalmon;
}
.user .chat-bubble:after {
  bottom: -10px;
  right: 26px;
  width: 30px;
  height: 30px;
  box-shadow:
    40px -34px 0 0 lightsalmon,
    -28px -6px 0 -2px lightsalmon,
    -24px 17px 0 -6px lightsalmon,
    -5px 25px 0 -10px lightsalmon;
}

.bot .chat-bubble:before {
  width: 44px;
  height: 44px;
  top: -12px;
  right: 30px;
  box-shadow:
    -50px 30px 0 -12px lightsalmon,
    44px 20px 0 0 lightsalmon,
    -10px 17px 0 -6px lightsalmon,
    -5px 25px 0 -10px lightsalmon;
}
.bot .chat-bubble:after {
  bottom: -10px;
  left: 28px;
  width: 30px;
  height: 30px;
  box-shadow:
    40px -34px 0 0 lightsalmon,
    -28px -6px 0 -2px lightsalmon,
    -24px 17px 0 -6px lightsalmon,
    -5px 25px 0 -10px lightsalmon;
}


.round {
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
}

.input-container {
  display: flex;
  padding: 25px;
}

input {
  flex: 1;
  margin-right: 10px;
  border-radius: 50px;
}
.eng{
  background-color: #4caf50;
  color: white;
  border-radius: 150px;
  border: none;
  padding: 35px 70px;
  cursor: pointer;
  font-size: small;
  font-family: 'Poppins', sans-serif;
  transition: background-color 0.3s ease;
}
.eng:hover {
  background-color: #1e87dc;
}
.hi{
  background-color: #4caf50;
  color: white;
  border-radius: 150px;
  border: none;
  padding: 35px 70px;
  cursor: pointer;
  font-size: small;
  font-family: 'Poppins', sans-serif;
  transition: background-color 0.3s ease;
}
.hi:hover {
  background-color: #1e87dc;
}
.language-buttons{
  display: flex;
  justify-content: center;
  align-items:center;
  height: 100vh;
  margin-right: 500px;
}
.button1 {
  background-image: url(images/send-message.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 27px;
  height: 30px;
  border: 1px solid white;
  color: white;
  cursor: pointer;
  margin-right: 2px;
}
.button1:hover {
  background-color: lightblue;
  box-shadow:
    0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
  opacity: 0.7;
}

.button2 {
  background-image: url(images/microphone.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 40px;
  height: 30px;
  border: 1px lightblue;
  background-color: lightblue;
  cursor: pointer;
  margin-left: 4px;
}
.button2:hover {
  background-color: lightblue;
  box-shadow:
    0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
  opacity: 0.7;
}
